<div class="header">
  <ul class="header-menu">
    <li class="header-menu-item">
      <button mat-button>Home</button>
      <ul class="dropdown-menu">
        <!-- <li><button routerLink="/home/Products" mat-button>Products</button></li><br>
        <li><button routerLink="/home/category"mat-button>Category</button></li><br>
        <li><button routerLink="/home/sort" mat-button>Sort</button></li><br> -->

        <li><a routerLink="/home/Products">Products</a></li><br>
        <li><a routerLink="/home/category">Category</a></li><br>
        <li><a routerLink="/home/sort">Sort</a></li>
      </ul>
    </li>
    <li class="header-menu-item">
      <button mat-button>Settings</button>
    </li>
    <li class="header-menu-item">
      <button mat-button>Cart</button>
    </li>
  </ul>
</div>
