.header {
  background-color: #232f3e;
  color: white;
  padding: 10px 0;
}

.header-menu {
  list-style: none;
  display: flex;
  align-items: center;  
  padding: 0;
}

.header-menu-item {
  position: relative;
  margin: 0 0.5%;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  list-style: none;
  background-color: #d24f4f;
}

.header-menu-item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  display: inline; /* Display items horizontally */
  margin-right: 10px; /* Add spacing between items */
}

.header-menu-item:last-child {
  margin-right: 0;
}

.button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  text-decoration: none;
}
